autoPyTorch==0.2.1
autoPyTorch[forecasting]==0.2.1
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
dependency-injector==4.40.0
dill
Jinja2
pillow
scikit-learn
codecarbon==2.1.4
numpy<=1.23.0
#explainerdashboard==0.4.2.1 Autopytorch required very old sklearn lib that conflics explainer dashboard
