absl-py==0.13.0
astunparse==1.6.3
flaml==1.2.0
flaml[ts_forecast]==1.2.0
flaml[nlp]==1.2.0
flaml[blendsearch]==1.2.0
pandas==1.3.4
Jinja2==3.0.1
dill
pillow
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
dependency-injector==4.40.0
codecarbon==2.1.4
scikit-learn
