absl-py==0.13.0
astunparse==1.6.3
flaml==2.1.2
flaml[automl]==2.1.2
flaml[ts_forecast]==2.1.2
flaml[nlp]==2.1.2
flaml[blendsearch]==2.1.2
pandas==1.4.1
Jinja2==3.0.1
dill
pillow
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
dependency-injector==4.40.0
codecarbon==2.1.4
scikit-learn
explainerdashboard==0.4.7
rdflib==6.2.0
xgboost==1.6.2
numpy==1.26.4