# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#AutoML exclude
adapters/*/app-data/output/tmp
#AutoKeras
adapters/AutoKeras/structured_data_classifier


./mutagen_datasets/*

#VS
*.suo
*.proj
*.csv
*.pyproj
.vs/

!titanic_train.csv

#VS Code
#adapters/*/.vscode/
adapters/*/.venv/
controller/.venv/
#controller/.vscode/
*.log
adapters/*/AutoMLs/predict_time_sources.py
adapters/MLJAR/AutoML_*
adapters/AutoKeras/structured_data_classifier/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jetbrains IDEAs
.idea/

#VSCode ignores
.devcontainer
#.vscode

#User specific files
frontend/src/Server/BlazorBoilerplate.Server/appsettings.json
frontend/src/Server/BlazorBoilerplate.Server/Properties/launchSettings.json

#controller ignores
# ignore all output files, but keep the directories with the .gitkeep file
controller/app-data/output/*/*
!controller/app-data/output/*/.gitkeep
controller/.vs
controller/app-data\datasets/*

#all adapter ignores
# by adapter generated files, but keep the directories

!*/*/app-data/training/.gitkeep
*/*/app-data/training/*
# ignore datasets, because they are mapped into the datasets directory via shared volume by the controller
*/app-data/datasets/*
*/*/app-data/datasets/*
adapters/*/app-data/datasets/*
!*/app-data/datasets/.gitkeep


#AutoCVE

#AutoGluon

#AutoKeras

#Auto-Pytorch

#Autosklearn
# temporary files
AutoSklearn/tmp/

#FLAML
# output folder
FLAML/templates/output
# by adapter generated files
*-export.zip
*-job.json

#MLJAR ignores
#AutoMLs
MLJAR/AutoML_*
controller/app-data/analysis.json
controller/app-data/datasets/*
controller/app-data/training/*

#Test data
controller/tests/datasets/*

#Authentification files
auth/*.json
