@inject IStringLocalizer<Global> L

<span>
    <MudTooltip Text=@Text Placement=Position Arrow="true" >
        <ChildContent>@ChildContent</ChildContent>
        <TooltipContent>
            <MudText Style="word-wrap: break-word;max-width: 20rem;font-size:11pt;">@Text</MudText>
        </TooltipContent>
     
    </MudTooltip>
</span>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public Placement Position { get; set; }

}

