@implements IDynamicComponent
@inject AppState appState
©&nbsp;@DateTime.Now.Year&nbsp;<a href="//blazorboilerplate.com">@appState.AppName</a>&nbsp;Version 0.1.0 - Developed by&nbsp;Hochschule Darmstadt&nbsp;

@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "Footer"; }
}
