
<MudText Typo="Typo.body1" class="tooltip position private-scope">
    @ChildContent

    <div class="tooltip-positioning">
        <MudText Class="@Position" Style="opacity: 100%!important; color:white!important;font-size:11pt;">
            @if (lines != null)
                for (int i = 0; i < lines.Length; i++)
                {
                    @lines[i];
                    <br />
                }
            @if (!string.IsNullOrEmpty(URL))
            {
                <MudLink Style="color:white!important" Href="@URL">
                    more...
                </MudLink>
            }


        </MudText>
    </div>
</MudText>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string URL { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    
    [Parameter]
    public string Position { get; set; }


    string[] lines;
    protected override void OnParametersSet()
    {
        lines = Label?.Split('\n');
    }

}

