@using Radzen.Blazor
@using Radzen
@inject TooltipService tooltipService
<span style="display:flex">
    <RadzenText Style="font-family:Arial, Helvetica, sans-serif; font-weight:150; " Text=@Label TextStyle=@FontSize />
    <div style="padding-left:5pt; align-content:center; margin-top:auto; margin-bottom:auto">
        <RadzenIcon Icon="info" IconColor="@Radzen.Colors.Black" Style="opacity:50%;" MouseEnter="@(args => ShowTooltipWithHtml(args, new TooltipOptions() { }))" />
    </div>
</span>
        @code {
            [Parameter]
            public string Label { get; set; }
            [Parameter]
            public string Text { get; set; }
            [Parameter]
            public Placement Position { get; set; }
            [Parameter]
            public TextStyle FontSize { get; set; } = TextStyle.H6;
            [Parameter]
            public string URL { get; set; } = "";

            void ShowTooltipWithHtml(ElementReference elementReference, TooltipOptions options = null) => tooltipService.Open(elementReference, ds =>
                @<div class="rz-text-wrap" style="max-width:20rem">
                    @Text @if (!string.IsNullOrEmpty(URL))
                    {<a target="_blank" rel="noopener noreferrer" href=@URL style="color:white"><u>More...</u></a>}
                </div>, options);


        }

