@using Radzen.Blazor
@using Radzen
@inject TooltipService tooltipService

@if (@Icon)
{
    <span style="display:flex">
    <RadzenText Style="font-family:Arial, Helvetica, sans-serif; font-weight:150; " Text=@Label TextStyle=@FontSize />
    <div style="padding-left:5pt; align-content:center; margin-top:auto; margin-bottom:auto">
        <RadzenIcon Icon="info" IconColor="@Radzen.Colors.Black" Style="opacity:50%;"
            MouseEnter="@(args => ShowTooltipWithHtml(args, new TooltipOptions() { Position = @Position, Duration=5000}))" />
    </div>
</span>
}
else
{
    <span style="display:flex">
    <RadzenText
        MouseEnter="@(args => ShowTooltipWithHtml(args, new TooltipOptions() { Position = @Position, Duration=5000 }))"
        Style="font-family:Arial, Helvetica, sans-serif; font-weight:150; " Text=@Label TextStyle=@FontSize />
</span>
}

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public TooltipPosition Position { get; set; }
    [Parameter]
    public TextStyle FontSize { get; set; } = TextStyle.H6;
    [Parameter]
    public string URL { get; set; } = "";
    [Parameter]
    public bool Icon { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    void ShowTooltipWithHtml(ElementReference elementReference, TooltipOptions options = null) =>
        tooltipService.Open(elementReference, ds =>
    @<div class="rz-text-wrap" style="word-wrap: break-word;max-width: 20rem;">
        @Text @if (!string.IsNullOrEmpty(URL))
    {
        <span> </span>
        <a target="_blank" rel="noopener noreferrer" href="@URL"
            style="text-decoration: underline; opacity: 100% !important; color: white !important;">More...</a>
    }
        @ChildContent
    </div>, options);
}
