@if (Dataset != null)
{
    <MudStack Row="true" Style="justify-content: center;">
        @foreach (var category in Dataset.Select(p => p.FolderType).Distinct())
        {
            <MudStack>
                <MudCarousel Style="height:200px" TData="object" AutoCycle="false">
                    @foreach (var item in Dataset.Where(p => p.FolderType == category).ToList())
                    {
                        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
                            <div class="d-flex flex-column flex-column" style="height:100%">
                                <MudText Align="@Align.Center" Class="mx-auto">@category.Replace("\\", "")</MudText>
                                <MudImage Src="@GetImage(item)" />
                            </div>
                        </MudCarouselItem>
                    }
                </MudCarousel>
            </MudStack>
        }
    </MudStack>
}

@code {
    [Parameter]
    public List<ImagePreviewDto> Dataset { get; set; }

    string GetImage(ImagePreviewDto image)
    {
        var imageSrc = Convert.ToBase64String(image.Content);
        switch (image.FileType)
        {
            case ".jpeg":
                return string.Format("data:image/jpeg;base64,{0}", imageSrc);
            case ".png":
                return string.Format("data:image/png;base64,{0}", imageSrc);
            case ".svg":
                return string.Format("data:image/svg+xml;base64,{0}", imageSrc);
            default:
                return null;
        }
    }
}
