@inherits LayoutComponentBase

<div class="triangle-container">
    <div class="triangles">
    </div>
</div>

<MudMainContent Style="min-height: 100vh; display: flex; flex-direction: column">
    <MudContainer MaxWidth="MaxWidth.False" Style="flex: 1">
        <div class="login-container d-flex justify-center">

            <div class="login-body pa-2">
                @Body
            </div>
        </div>
    </MudContainer>
    <Footer />
</MudMainContent>
