dill
jinja2
sktime==0.12.1
numpy
scikit-learn
scipy
tensorflow
h5py
mcfly==3.1.0
pillow
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
dependency-injector==4.40.0
codecarbon==2.1.4
