#h2o dependencies
h2o == 3.46.0.1
tabulate == 0.7.5
requests == 2.10
future

#project dependencies
dependency-injector==4.40.0
codecarbon==2.1.4
dill==0.3.5.1
scikit-learn
Jinja2
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
Pillow
rdflib==6.2.0
explainerdashboard==0.4.7


# Needed for Newer Verisons of Python :
# urllib3
#urllib3
#pip install --upgrade requests
