@page "/help"
@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier
@inject NavigationManager NavManager
@attribute [Authorize]

<h1>About</h1>
<div style="display:flex; flex-direction:column">
    <p style="width:50%">
        Machine learning (ML) as an important subfield of Artificial Intelligence (AI) allowing to make
        predictions on data based on models. ML is used in nearly all areas of private life and business. But
        developing effective ML applications is complex, almost like a secret art. It requires experienced
        computer scientists or data scientists who analyse a dataset in detail and perform steps such as data
        preparation, feature engineering, model selection, hyperparameter optimisation and validation so
        that an ML application can make good predictions for new cases.
        <br><br>
        Automated Machine Learning (AutoML) is an active research field that tries to automate some of
        those steps. There are now many AutoML solutions, both commercial and open source. They differ
        greatly in terms of functionality, maturity and user-friendliness. What they all have in common,
        however, is that they each focus on one or only a few selected ML libraries; commercial solutions
        each focus on the company's own ecosystem. This means that there is always a certain vendor lock-
        in when choosing an AutoML solution.
        <br><br>
        OMA-ML is counteracting this. It performs AutoML for many tasks and many ML libraries by
        combining the features of many open source AutoML solutions, including AlphaD3M, AutoPytorch,
        AutoSklearn, AutoKeras, FLAML, AutoGluon, AutoCVE, and MLJAR. OMA-ML is user-friendly, offering
        a GUI for application domain experts and data scientists alike, but also offers an API for
        programmers.
        <br><br>
        Simply upload a dataset, use the configuration wizard, start training and download the best model or
        make predictions online with this model.
        OMA-ML is open source under <a href="https://github.com/hochschule-darmstadt/MetaAutoML">GitHub</a>
        <br><br><br>
        For details see the following publication:
        <br><br>
        Bernhard G. Humm, Alexander Zender: <a href="https://doi.org/10.1007/978-3-030-79150-6_10">An Ontology-Based Concept for Meta AutoML</a>. In I.
        Maglogiannis et al. (Eds.): Artificial Intelligence Applications and Innovations (AIAI 2021), IFIP AICT
        627, pp. 117–128, IFIP International Federation for Information Processing 2021, published by
        Springer Nature Switzerland AG 2021. 
    </p>
</div>

@code {

}

