auto-sklearn==0.15.0
dill
jinja2
pillow
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
dependency-injector==4.40.0
pickle5
codecarbon==2.1.4
scikit-learn
numpy<=1.23.0
#explainerdashboard==0.4.2.1 AutoSklearn required very old sklearn lib that conflics explainer dashboard
