Jinja2==3.0.1
dill
pillow
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
dependency-injector==4.40.0
codecarbon==2.3.2
pycaret[full]==3.2.0
scikit-learn
explainerdashboard==0.4.5
rdflib==6.2.0
