.jobs-container {
    display: flex;
    justify-content: space-around;
}

.job-status {
    display: flex;
    flex-direction: column;
    width: 312px;
}

.job-status ul {
    flex: 1;
}

.dropzone {
    padding: 30px;
    border: 1px dashed #75868a;
    list-style: none;
}

.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #5c6b7f;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}

.draggable:active {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}

.description {
    font-size: 18px;
}

.last-updated {
    margin-bottom: 0;
    font-size: 11px;
    color: #e1e5ea;
    font-weight: bold;
}

.last-updated small {
    text-transform: uppercase;
    color: #c4cbd4;
    font-size: 11px;
}

h1,
h2,
h3 {
    color: var(--mud-palette-primary-darken);
}

p {
    margin-bottom: 12px;
}

a {
    color: var(--mud-palette-primary-lighten);
}


.mud-overlay.mud-overlay-dialog {
    z-index: 99;
}

.mudbreadcrumbs {
    position: fixed !important;
    top: 3.3rem;
    z-index: 999 !important;
    width: 100%;
    height: 4.3rem;
    background: white;
    border-bottom: 1px solid lightgrey;
}

.text-card-content {
    font-size: clamp(0.7rem, -0.875rem + 2.4vw, 1rem);
}

.conf-table {
    margin-bottom: 25px;

}

.full-width {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.full-width .mud-button {
    width: 500px;
    margin-left: 240px;
}

@media (max-width: 600px) {
    .full-width {
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .full-width .mud-button {
        max-width: 300px;
    }
}

@media (min-width: 961px) {
    .full-width .mud-button {
        max-width: 350px;
    }
}
