@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier
@inject BlazorBoilerplate.Shared.Services.WizardState WizardState

<h3>DisplayImageDataset</h3>

@code {

}
