autokeras==1.1.0
betterproto @ git+https://github.com/danielgtaylor/python-betterproto.git@496eba27506a2fe18df409c4cd34a47d8ce04ffe
dependency-injector==4.40.0
dill
Jinja2
Pillow
scikit-learn
codecarbon==2.1.4
#tensorflow==2.10.1
regex
